{% extends "layout/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% comment %}{% include "fb.js" %} {% endcomment %}
<div class="row">
  <style>
    .form-control{
      margin-top:5px;
      margin-bottom:25px;
    }
  </style>
	<div class="col-md-5 col-md-offset-3">
		<div class="well big-well">
      <br>
      {% include "partials/form_edit.html" %}
      <a class="forgot-pass" href='{% url 'send_password_reset'%}'>Forgot Password ?</a>
      <br>
      <a href="{% url 'social:begin'  'google-oauth2' %}?next={{ request.path }}">Login with Google</a>

		</div>
	</div>
</div>
{% endblock %}

