@import 'app';

$p-color: #009587;

#main{
  min-height:100vh;
}

img.person{
  height: 70px;
  border-radius:20%;
}

body, table{
  font-size:14px;
  background: #fff;
}
.alert-hint{
  background: #eda;
  color:#222;
  font-style:italic;
  font-size:14px;
}
.help-block{
  font-size:12px;
  font-style:italic;
  color:#950;
  margin:2px 0 5px 0;
}
.d-ib{
  display: inline-block;
}

.bld{
  font-weight:bold;
}
.list{
  padding: 10px 2px;
  /*border-bottom: 1px solid #ccc;*/
}

.ta-r{
  text-align:right;
}

.input-group-addon.search{
  padding: 0 8px 0 0;
  color: #888;
} .sugg h5{
  font-weight: normal;
  font-size: 14px;
}
h4, h3{
  margin:0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px!important;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd!important;
}

.list-group-head{
  color: #000;
  font-weight:normal;
  font-size:16px;
}

.media-heading{
  margin-top:3px;
  font-size:16px;
}
.media-heading.ls{
  font-weight:bold;
  font-size:18px;
}

.app-name{
  font-size:16px;
}

.footer{
  background: #e0e0e0;
  font-size: 12px;
  padding: 10px 17px;
  color: #777;
  margin-top: 10px;
  clear:both;
}
.forgot-pass {
  float: right;
  color: #555;
  right: 35px;
  position: absolute;
  top: 155px;
  font-size: 13px;
}
