<div style="font-family:arial, sans-serif;font-size:13px">
    <div style="padding:8px 15px 5px 15px;font-size:14px;font-weight:bold;background:#16a085;color:#fff;">Healogue</div>
    <div style="padding:15px 15px;font-size:13px;line-height:20px;">
        <div>Dear {{user_name}},</div>
        <br>
        {% block body %}{% endblock %}
        <div><br>Thanks,<br>AppName Team</div>
        <br><hr>
        <div style="color:#999;">
            For any enquiry call : +91 484 ....
        </div>
        <hr>
    </div>
</div>

